@media (min-width: 1025px) {
    .h-custom {
    /* height: 100vh !important; */
    }
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    
    .card-registration .select-arrow {
    top: 13px;
    }
    
    .bg-grey {
    background-color: rgb(234, 232, 232);
    }
    
    @media (min-width: 992px) {
    .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }
    
    @media (max-width: 991px) {
    .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }
.h-custom{
    background-color: rgb(245, 245, 245);
}
select{
    border: none;
}
.arrow-left{
    margin-bottom: 4px;
    margin-right: 7px;
}

a:hover{
    text-decoration: none;
}

.quantity-input{
    min-width: 15px;
    border: none;
}
.btn-no-border {
    border: none;
    outline: none;
  }

.table tr th a{
    padding-left: 100px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(245, 245, 245);
    z-index: 100;
  }
  
  .popup .close {
    position: absolute;
    top: 185px;
    right: 180px;
    cursor: pointer;
  }
  
  .card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 1rem;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.5rem 1.5rem;
}

.error {
    border: 1px solid red;
}