body{
    /* height: 200vh; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}
.form{
    margin-bottom: -5px;
}
.banner {
    /* background: url('../images/banner-background.jpg');  */
    /* background-image: url('../images/jarno-saarinen-Hdi7pPyKOZU-unsplash.jpg'); */
    height: 39vh;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
.custom-nav{
    margin-bottom: 0;
}
.bottom-shop{
    /* padding-left: 15px; */
    justify-content: center;
}
.bottom-shop .btn-style:hover{
    background: rgb(21, 21, 21);
}
.bottom-shop .btn-style{
    background: rgb(241, 52, 241);
    border-radius: 20px;
    /* font-size: 1.1rem; */
    color: white;
    font-family: Arial;
    /* text-transform: uppercase; */
}

.banner .banner-content .banner-info h1{
    text-transform: uppercase;
}
.banner-content p {
    /* margin-top: 20px;
    margin-bottom: 10px; */
    letter-spacing: .1rem; 
  }
.img-fluid {
    max-width: 100%;
    height: auto;
    margin-bottom: 100px;
    margin-left: 150px;
}
.banner-info{
    /* padding-left: 54px;
    padding-bottom: 65px; */
    text-align: center;
}

.banner-ads{
    background-image: url('../images/banner-ads.gif');
    margin: 0 auto;
    display: block; 
    text-align: center;
    height: 100vh;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
.container{
    margin: 0 auto;
}
.table-card{
    margin-top: 180px;
}

/* navsidebar */

.sidebar li .submenu{ 
	list-style: none; 
	margin: 0; 
	padding: 0; 
	padding-left: 1rem; 
	padding-right: 1rem;
}
.sidebar .nav-link {
    font-weight: 500;
    color: var(--bs-dark);
}
.sidebar .nav-link:hover {
    color: var(--bs-primary);
}
.custom-table th{
   text-align: center;
}
.card{
    margin-top: 40px;
}
.home-product{
    padding: 30px;
}
.custom-table tr{
    height: 10vh;
}

.custom-icon{
    border: none;
    background-color: #e5e5e5;
}
.icon-next{
    margin-left: 147px;
    color: black;
}

div.scroll-container {
    background-color: #fafafa;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  div.scroll-container img {
    padding: 5px;
    width: 350px;
  }
  
.new-available h2{
    text-align: left;
    padding-left: 10px;
}