@import url('footer.css');
body{
    background-color:  rgb(240, 240, 240);
}
.nav-menu {
    margin-left: 65px;
    text-transform: uppercase;
}
.nav-menu .item-menu{
    padding-left: 20px;
}
.navbar-light .navbar-brand{
    padding-left: 20px;
}
.navbar-brand{
    margin-left: 10px;
}
.mega-dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none; 
    box-shadow: none;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease; /
  }
  .mega-dropdown:hover .dropdown-menu {
    opacity: 1;
    transform: translateY(0); 
  }
  .mega-dropdown .dropdown-menu .container-fluid {
    display: flex;
    justify-content: center;
  }
.container-fluid .list-group{
    padding-left: 20px;
}
  body {
    margin: 0;
    width: 100vw;      
    min-width: 100%;   
    overflow-x: hidden; 
  }
.form{
    padding-left: 100px;
    align-items: center;
    margin-bottom: -25px;
}
form{
    width: 300px;
}
form button{
    width: 50px;
}
.custom-nav{
    height: 9vh;
    /* margin-bottom: 25px; */
}
.custom-nav ul{ 
    list-style: none;
    margin-left: 0;
    display: flex;
}
.custom-nav .icon{
   padding: 20px;
   margin-top: -23px;
   margin-left: 19px;
}
.custom-nav .icon svg{
    width: 25px;
    height: 25px;
}
.custom-nav ul .bag{
    padding-top: 15px;
}
.form-control:focus {
    box-shadow: none;
  }
  
  .form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
  }

  .form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  }

.main-product{
    margin-top: 40px;
    /* padding-right: 10px; */
}
.main-product h2{
    margin-bottom: 40px;
    font-size: 1.8rem;
    /* margin-top: 20px; */
}

.cus-content{
    margin: 0;
    margin-top: 60px;
}

.cus-card {
    border: none;
}
.cus-card-product{
    /* margin-top: 10px; */
    margin-right: 40px;
}
.cus-card-title{
    color: rgb(3, 3, 3);
}

.shop-now{
    margin-top: -80px;
    margin-left: 150px;
    font-size: .8rem;
}
.shop-arrow{
    margin-bottom: 2px;
    margin-left: 5px;
}

.title-new-product{
    text-transform: uppercase;
}
.boots-menu{
    padding-right: 50px;
    /* justify-content: center; */
    margin-bottom: 50px;
}
.shop-title{
    display: flex;
    margin-top: 60px;
}

.shop-menu{
    margin-left: 378px;
}

.shop-menu a{
    padding: 10px;
    text-decoration: none;
    color: black;
}
.shop-menu a:hover{
    text-decoration: underline;
    color: rgb(255, 0, 0);
    transition: color .1s, text-decoration .6s;
}


.product-price{
    display: flex;
    justify-content: center;
}
.product-price p{
    padding-left: 2px;
    padding-right: 2px;
}
.product-price .full-price{
    color: #9c9b9b;
    text-decoration: line-through;
    font-size: small;
    padding-top: 4px;
}

.product-price .off{
    color: #ff0000;
}
.title-boby-card{
    text-align: center;
}

.star-rating svg{
    color: rgb(255, 0, 0);
}
.star-rating{
    color: red;
}
.link-product svg{
    margin-left: 10px;
    margin-right: 10px;
}
.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    padding: 13px;
}

.image-overlay p{
    font-size: small;
    text-align: center;
    background-color: rgb(207, 20, 20);
    margin-left: 150px;
}

.image-overlay-3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    padding: 13px;
}

.image-overlay-3 p{
    font-size: small;
    text-align: center;
    background-color: rgb(207, 20, 20);
    margin-left: 150px;
}

.image-overlay-3a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    padding: 13px;
}

.image-overlay-3a p{
    background-color: rgb(255, 248, 248);
    margin-left: 90px;
    font-size: small;
    height: 20px;
    width: 50px;
    text-align: center;
    border: 1.5px solid rgb(207, 20, 20);
    color: rgb(207, 20, 20);
}


    div.line-behind {
        width: auto;
        position: relative;
        text-align: center
      }
      span {
        content: " ";
        border-top: 3px solid black;
        position: absolute;
        width: 100%;
        top: 40%;
        left: 0;
        z-index: -1;
      }
      h3 {
        background-color: #fff;
        display: inline-block;
      }

.alert-card{
    display: none;
}


.menu-nike{
    min-width: 100%;
    font-size: 1.7rem;
    margin-bottom: 40px;
}

/* Custom styles for product cards and carousel */
.product-card {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    text-align: center;
}

.carousel {
    overflow-x: auto;
    white-space: nowrap;
}

.carousel-inner {
    display: inline-flex;
}

/* header */
.cus-header{
    background-color: rgb(240, 240, 240) ;
    height: 4vh;
}
.cus-header ul{
    display: flex;
    list-style: none;
    justify-content: right;
    padding-right: 40px;
    align-items: center;
}
.cus-header ul li{
    padding-right: 20px;
    margin-top: 3px;
    background-color: transparent;
}
.cus-header ul li a{
    color: black;
    text-decoration: none;
}
.cus-header .logo-header img{
    max-width: 50%;
}
.cus-header ul .logo-header{
    padding-right: 970px;
}
#btn-back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    /* border: none; */
    }



